<div class="container">

    <form>
        <h1>Blood Pressure Analysis</h1>
        <h2>Cystic Fibrosis</h2>





        <!--showing images on hoe to check blood pressure-->

        <div ng-init="showPulse=flase" class="panel panel-default">

            <div class="panel-heading">
                <a href="" ng-show="!showPulse" ng-click="showPulse=!showPulse">+</a>
                <a href="" ng-show="showPulse" ng-click="showPulse=!showPulse">-</a>
                <a href="" ng-click="showPulse=!showPulse">How to check your Blood Pressure</a>
            </div>

            <div ng-show="showPulse" class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <img src="./src/images/count/rh.jpg" alt="Lights" style="width:90%">
                            <div class="caption">
                                <p>Rise your arm to heart level </p>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <img src="./src/images/count/rc.jpg" alt="Nature" style="width:90%">
                            <div class="caption">
                                <p>Wrap the cuff around the arm, Make sure the cuff is snug, not too tight</p>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <img src="./src/images/count/ph.jpg" alt="Lights" style="width:90%">
                            <div class="caption">
                                <p>Place the wide head of the stethoscope on your arm</p>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <img src="./src/images/count/pc.jpg" alt="Nature" style="width:90%">
                            <div class="caption">
                                <p>Tighten the valve and Inflate the cuff until the needle on the gauge reaches 180mmHg and then release the valve</p>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <img src="./src/images/count/hs.jpg" alt="Nature" style="width:90%">
                            <div class="caption">
                                <p>Liaten to the stethoscope for a thumping sound. When you hear the first thump, note systolic blood pressure.</p>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="thumbnail">
                            <img src="./src/images/count/ds.jpg" alt="Nature" style="width:90%">
                            <div class="caption">
                                <p>Keep watching the gauge and listen stethoscope. When hear only silence, note diastolic blood pressure.</p>
                            </div>
                            </a>
                        </div>
                    </div>

                </div>


            </div>
        </div>



<!--Blood pressure checking inputs and binding-->

        <div class="form-group">

            <label class="control-label">Blood Pressure (Systolic):</label>
            <input type="text" ng-model="systolic" placeholder="Blood Pressure in (mm)" class="form-control" id="text">



        </div>
        <div class="form-group">

            <label class="control-label">Blood Pressure (Diastolic):</label>
            <input type="text" ng-model="diastolic" placeholder="Blood Pressure in (HG)" class="form-control" id="text">
        </div>



    </form>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <h3>Blood presuure Analysis Report</h3>
            </h3>
        </div>
        <div class="panel-body">

            <h3><span class="" ng-show="systolic && diastolic">Provided systolic/diastolic blood pressure: ({{ systolic }}/{{ diastolic }}) mm/mmHG, <br><span class="result"></span>
                <span class="advice">Blool Presure Analysis:  {{ bloodResult() }}. </span></h3>

        </div>
    </div>
</div>