<div class="container">

    <form>
        <h1>Heart Rate & Respiration Analysis</h1>
        <h2>Cystic Fibrosis
        </h2>
        <div class="form-group">

            <label class="control-label">Heart Rate:</label>
            <input type="text" ng-model="heartrate" placeholder="Heart Rate in (Pulse/Min)" class="form-control" id="text">



        </div>
        <div class="form-group">

            <label class="control-label">Respiration Rate:</label>
            <input type="text" ng-model="breathrate" placeholder="Respiration in (Breathes/Min)" class="form-control" id="text">
        </div>



    </form>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <h3>Heart rate and Respiration Analysis Report</h3>
            </h3>
        </div>
        <div class="panel-body">

            <h3><span class="" ng-show="heartrate && breathrate">Based on the provided, {{ heartrate }} rate, and {{ breathrate }} rate, <span class="result"></span>
                <span class="advice"> {{ respResult() }} </span></h3>

        </div>
    </div>
</div>