<div class="container">



          <form class="form-horizontal" action="" method="POST">

            <div id="legend">
              <legend class="">Sign In</legend>
            </div>
            <div class="control-group">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                <input type="text" id="username" name="username" placeholder="username" class="form-control input-lg">

              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="email">E-mail</label>
              <div class="controls">
                <input type="email" id="email" name="email" placeholder="Email Address" class="form-control input-lg">

              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input type="password" id="password" name="password" placeholder="Passwaord" class="form-control input-lg">

              </div>
            </div>

            <br>

            <div class="control-group">
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-success">Sign in</button>
              </div>
            </div>

        </form>


</div>
