<div class="container" <form>
    <h1>Pulse & Respiration Analysis</h1>
    <h3>Cystic Fibrosis</h3>





    <div ng-init="showDefs=flase" class="panel panel-default">

        <div class="panel-heading">
            <a href="" ng-show="!showDefs" ng-click="showDefs=!showDefs">+</a>
            <a href="" ng-show="showDefs" ng-click="showDefs=!showDefs">-</a>
            <a href="" ng-click="showDefs=!showDefs">How to check heart rate</a>
        </div>

        <div ng-show="showDefs" class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="./src/images/count/breath.jpg" alt="Lights" style="width:100%">
                        <div class="caption">
                            <p>Sit still and count breath</p>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="./src/images/count/count.jpg" alt="Lights" style="width:100%">
                        <div class="caption">
                            <p>Count no. breathes in one minute</p>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="./src/images/count/bbreath.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p>You can count baby breath as well</p>
                        </div>
                        </a>
                    </div>
                </div>

            </div>


        </div>
    </div>













    <div class="form-group">

        <label for="text">Pulse Rate:</label>
        <input type="text" ng-model="weight" placeholder="Pulse Rate in (Pulse / Minute)" class="form-control" id="text">
    </div>




    <div class="form-group">
        <label for="text">Respiration Rate:</label>
        <input type="text" ng-model="height" placeholder="Respiration Rate in (Breathes / Minute)" class="form-control" id="pwd">
    </div>


    </form>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <h3>Nutrition Analysis Report</h3>
            </h3>
        </div>
        <div class="panel-body">

            <h3><span class="" ng-show="weight && height"><span class="result"></span>
                <span class="advice">Blood Analysis Report Here</span></h3>

        </div>
    </div>

</div>



    <!-- Function Spillt -->




<div class="container" <form>
    <h1>Pulse & Respiration Analysis</h1>
    <h3>Cystic Fibrosis</h3>





    <div ng-init="showDefs=flase" class="panel panel-default">

        <div class="panel-heading">
            <a href="" ng-show="!showDefs" ng-click="showDefs=!showDefs">+</a>
            <a href="" ng-show="showDefs" ng-click="showDefs=!showDefs">-</a>
            <a href="" ng-click="showDefs=!showDefs">How to check heart rate</a>
        </div>

        <div ng-show="showDefs" class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="./src/images/count/breath.jpg" alt="Lights" style="width:100%">
                        <div class="caption">
                            <p>Sit still and count breath</p>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="./src/images/count/count.jpg" alt="Lights" style="width:100%">
                        <div class="caption">
                            <p>Count no. breathes in one minute</p>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="./src/images/count/bbreath.jpg" alt="Nature" style="width:100%">
                        <div class="caption">
                            <p>You can count baby breath as well</p>
                        </div>
                        </a>
                    </div>
                </div>

            </div>


        </div>
    </div>













    <div class="form-group">

        <label for="text">Pulse Rate:</label>
        <input type="text" ng-model="weight" placeholder="Pulse Rate in (Pulse / Minute)" class="form-control" id="text">
    </div>




    <div class="form-group">
        <label for="text">Respiration Rate:</label>
        <input type="text" ng-model="height" placeholder="Respiration Rate in (Breathes / Minute)" class="form-control" id="pwd">
    </div>


    </form>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <h3>Nutrition Analysis Report</h3>
            </h3>
        </div>
        <div class="panel-body">

            <h3><span class="" ng-show="weight && height"><span class="result"></span>
                <span class="advice">Blood Analysis Report Here</span></h3>

        </div>
    </div>

</div>